@import '../../lib/_variable.scss';

.tm-layout-example {
  color: #FFF;
  &-header {
    @include flexCenter;
    height: 100px;
    background-color: $default-color;
  }
  &-content {
    @include flexCenter;
    height: 200px;
    background-color: $primary-color;
  }
  &-footer {
    @include flexCenter;
    height: 100px;
    background-color: $default-color;
  }
  &-asider {
    @include flexCenter;
    height: 200px;
    width: 200px;
    background-color: $common-color;
  }
}